<footer div class="col-12 col-lg-12 bg-dark text-light" style="height: auto;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 ">
          <ul style="list-style-type: none;" class="pt-4 " style="text-decoration: underline !important;">                
              <li class="dropdown-item pe-2"><a class="anchor nav-link" href='#'>Home</a></li>
              <li class="dropdown-item pe-2"><a class="anchor nav-link" href='#'>Shop</a></li>
              <li class="dropdown-item pe-2"><a class="anchor nav-link" href='#'>Account</i></a></li>
              <li class="dropdown-item pe-2"><a class="anchor nav-link" href='#'>Pages</a></li>
              <li class="dropdown-item pe-2"><a class="anchor nav-link" href='#'>Blog</a></li>
              <li class="dropdown-item pe-2"><a class="anchor nav-link" href='#'>Contact</a></li>
              
          </ul>
          </div>

        <div class="col-lg-9">

        </div>
      </div>
    </div>
</footer>